extends base

block content
  p لقد تلقيت طلبًا لإعادة تعيين كلمة المرور الخاصة بحسابك.
  p يرجى النقر على الزر أدناه لإعادة تعيين كلمة المرور الخاصة بك:
  a(href=`${url}` class='button') إعادة تعيين كلمة المرور
  p إذا لم تطلب إعادة تعيين كلمة المرور، فيمكنك تجاهل هذا البريد الإلكتروني.
  p رابط إعادة التعيين صالح لمدة 10 دقائق فقط.
  p إذا لم تقم بطلب إعادة تعيين كلمة المرور، فيرجى الاتصال بفريق الدعم لدينا على الفور.
  p مع أطيب التحيات،
  p فريق الدعم الفني
